<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Bill</title>
  <link rel="stylesheet" href="t3.scss" />
</head>
<body>
  <div class="bill">
    <h2>HARI OM DHABA</h2>
    <div class="center">
      Kale Mala, Mumbai Agra Service Road<br/>
      Kamod Nagar, Nashik 422009<br/>
      GSTIN: 27ABJPI9876F1Z1
    </div>
    <hr />
    <div class="name">
      Name:Shrikant
      </div>
      <hr/>
    <div class="info">
  <div><span>Date:</span> <span>02/06/25</span></div>
  <div><span>Time:</span> <span>23:02</span></div>
  <div><span>Dine In:</span> <span><strong>26</strong></span></div>
  <div><span>Bill No:</span> <span>17172</span></div>
  <div><span>Cashier:</span> <span>biller</span></div>
  <div><span>Token No:</span> <span>221, 245, 271</span></div>
  <div><span>Assign to:</span> <span>Rajesh</span></div>
</div>

    <hr />
    <table class="items" width="100%">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>Veg Peswari</td><td>1</td><td>220.00</td></tr>
        <tr><td>Rice Bhakri</td><td>2</td><td>70.00</td></tr>
        <tr><td>Half Steam Rice</td><td>1</td><td>95.00</td></tr>
        <tr><td>Dal Wati</td><td>1</td><td>60.00</td></tr>
        <tr><td>Amm Rass Wati</td><td>1</td><td>150.00</td></tr>
      </tbody>
    </table>
    <hr />
    <div class="summary">
      <div><span>Sub Total:</span> <span>₹595.00</span></div>
      <div><span>CGST 2.5%:</span> <span>₹14.88</span></div>
      <div><span>SGST 2.5%:</span> <span>₹14.88</span></div>
      <div><span>Round Off:</span> <span>-₹0.24</span></div>
      <hr />
      <div class="bold"><span>Grand Total:</span> <span>₹625.00</span></div>

    </div>
    <hr/>
    <div class="greetings">
     FSSAI LIC NO:1151507001581 <br/>
     Thank You Visit Again
    </div>
  </div>
</body>
</html>
