body {
  font-family: monospace;
  background: #fff;
  padding: 20px;
  background-color:#ddd
  
}

.bill {
  max-width: 350px;
  margin: auto;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: antiquewhite;
}

h2, .center {
  text-align: center;
  margin: 0;
}

.name {
  margin-top: 10px;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px dashed #000;
  margin: 10px 0;
}

.info {
  margin-top: 10px;
}

.info div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.items th, .items td {
  padding: 4px 0;
}

.items th {
  text-align: left;
  border-bottom: 1px solid #000;
}

.items td:last-child,
.items th:last-child {
  text-align: right;
}

.summary div {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.greetings {
  text-align: center;
  margin-top: 10px;
}
